* {
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
body {
  margin: 0 250px;
  border: solid 1px black;
}
.cv {
  background-color: brown;
  display: flex;
  flex-direction: row;
}
.inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  background-color: rgb(167, 164, 164);
}
.ing_meca{
  color: white;
}

.seccion-izquierda {
  background-color: rgb(226, 222, 222);
  width: 300px;
}
.header {
  display: flex;
  background-color: rgb(28, 146, 28);
  height: 70px;
  width: 500px;
  justify-content: center;
  margin-bottom: 800px;
}

/* .seccion-arriba {
    background-color: rgb(226, 222, 222);
    width: 20px;
    height: 20px;
  } */
.seccion-principal {
  flex: 1;
  background-color: white;
  padding: 18px;
}
.foto img {
  width: 120px;
  height: 120px;
  border-radius: 80%;
  display: flex;
  justify-content: center;
  margin-left: 35%;
  align-items: center;
}
.textos_izq {
  margin: 3%;
  font-size: 15px;
  justify-content: center;
}
.titulo_seccion {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: rgb(65, 55, 206);
  color: white;
  margin: 15px 40px 20px 40px;
}

.contenedor {
  margin: 0 24px;
}
.centrado {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media(max-width:393px){
  .titulo_seccion{
    width: 100%;
  }
}
@media(max-width:800px){
  .cv{
    flex-direction: column;
    width: 100%;
  }
}
@media(max-width:600px){
  body{
    margin: 0;
  }

}
@media(max-width:800px){
  .seccion-izquierda{
    width: 100%;
  }
}
@media(max-width:390px){
  .seccion-principal{
    width: 100%;
  }
}
@media(max-height:500px){
  .titulo_seccion{
    height: 100px;
  }
}