* {
  margin: 0;
  /* font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-family: 'Poppins', sans-serif; */
} 
body {
  /* margin: 0 250px; */
  margin: 0;
  border: solid 1px black;
  font-family: 'Poppins', sans-serif;
}
.cv {
  background-color: brown;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  background-color: rgb(167, 164, 164);
}
.ing_meca{
  color: white;
}

.seccion-izquierda {
  background-color: rgb(226, 222, 222);
  /* width: 300px; */
  width: 100%;
}
.header {
  display: flex;
  background-color: rgb(28, 146, 28);
  height: 70px;
  width: 500px;
  justify-content: center;
  margin-bottom: 800px;
}

/* .seccion-arriba {
    background-color: rgb(226, 222, 222);
    width: 20px;
    height: 20px;
  } */
.seccion-principal {
  flex: 1;
  background-color: white;
  padding: 18px;
}
.foto img {
  width: 120px;
  height: 120px;
  border-radius: 80%;
  display: flex;
  justify-content: center;
  margin: 0px 100px 0px 610px ;

  align-items: center;
}
.textos_izq {
  margin: 3%;
  font-size: 15px;
  justify-content: center;
}
.titulo_seccion {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(65, 55, 206);
  color: white;
  margin: 15px 0px;
}

.contenedor {
  margin: 0 24px;
}
.centrado {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media(max-width:768px){
  .seccion-izquierda {
    background-color: rgb(226, 222, 222);
 
  }
  .cv {
    flex-direction: row;
  }
  .foto img{
    margin: 0px 100px 0px 130px ;
    }
}
@media(max-width:1024px){
  .foto img{
    margin: 0px 0px 0px 157px;
  }
  .textos_izq {
    margin: 3%;
    font-size: 15px;
    justify-content: center;
  }
}